TPACommonWs/ToolsData/
TPACommonWs/win_b64/
TPACommonWs/CATEnv/
TPACommonWs/TPACommonFW/various
TPACommonWs/TPACommonFW/ImportedInterfaces
TPACommonWs/TPACommonFW/TPACommonUtilityModule.m/LocalGenerated
TPACommonWs/TPACommonFW/TPACommonUtilityModule.m/Objects
TPACommonWs/TPACommonFW/IdentityCard/Objects


TPACommonWs/TPAGeneralFw/various
TPACommonWs/TPAGeneralFw/ImportedInterfaces
TPACommonWs/TPAGeneralFw/TPAAutoDrawingModule.m/LocalGenerated
TPACommonWs/TPAGeneralFw/TPAAutoDrawingModule.m/Objects
TPACommonWs/TPAGeneralFw/TPACommonAdding.m/LocalGenerated
TPACommonWs/TPAGeneralFw/TPACommonAdding.m/Objects
TPACommonWs/TPAGeneralFw/IdentityCard/Objects

TPACommonWs/TPADVSFw/various
TPACommonWs/TPADVSFw/ImportedInterfaces
TPACommonWs/TPADVSFw/TPADVSAuto.m/LocalGenerated
TPACommonWs/TPADVSFw/TPADVSAuto.m/Objects
TPACommonWs/TPADVSFw/TPADVSDialogModule.m/LocalGenerated
TPACommonWs/TPADVSFw/TPADVSDialogModule.m/Objects
TPACommonWs/TPADVSFw/IdentityCard/Objects


TPACommonWs/CATIAV5Level.lvl
TPACommonWs/Install_config_win_b64
TPACommonWs/TPADVSFw/TPADVSAuto.m/src/$(VARIOUS_PATH)/$(MODNAME)/module.data
